<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="..assets/stylesheets/css/bootstrap.min.scss" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="..assets/stylesheets/css/stylish-portfolio.scss" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="..assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Callout -->
    <aside class="callout2">
        <div class="text-vertical-center">
            <h1>El Proyecto Presta Tu Techo</h1>
            <h2>Acercando la autogeneración eléctrica a las personas.</h2>
        </div>
    </aside>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2><span class="glyphicons glyphicons-usd" aria-hidden="true"></span></h2>
                  
                  <br>
                  <h2>Los costos de los equipos fotovoltaicos son altísimos y la tasa de retorno de la inversión es muy lenta.</h2>
                  <br>
                  <h2><span class="glyphicons glyphicons-mixed-buildings"></span></h2>
                  <h2>No es posible realizar instalaciones solares en el hogar o no se encuentra en un lugar óptimo para los equipos</h2>
                  <br>
                  <br>
                  <br>
              </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Nuestra Meta</h2>
                    <hr class="small">
                    <div class="row">
                      <div>
                        <div style="width:1000px;float:left;display:inline-block;">
                            <h2>Presta Tu Techo plantea desde su incio ser una alternativa de financiamiento para las personas interesadas en la energía solar. Ofrecemos una plataforma en la que las personas pueden colaborar para instalar y beneficiarse de la energía solar mediante grupos de colaboración.</h2>
                            <br>
                            <h2>Queremos que personas de cualquier punto de Chile, sin necesariamente conocerse, puedan unirse para lograr autogenerar energía que permita simultáneamente generar un impacto en el medioambiente y en sus cuentas de luz</h2>
                        </div>
                      </div>

                    </div><!-- /.row (nested) -->
            </div>
              <!-- /.row -->
      </div>
        <!-- /.container -->
    </section>



    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Nuestro Equipo</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="IMG_8664.jpg">
                                </a>
                                <h2>Manuel Becker</h2>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="../img/portfolio-4.jpg">
                                </a>
                                <h2>Esteban Miño</h2>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">Más Información</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout1">
        <div class="text-vertical-center">
            <h1></h1>
            <h1>Estamos concursando en <a target="_blank" href="http://jumpchile.com/">Jump Chile</a>.</h1>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Presta Tu Techo</strong>
                    </h4>
                    <p>Santiago de Chile</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">prestatutecho@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; PrestaTuTecho 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>



</body>

</html>
