<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="..assets/stylesheets/css/bootstrap.min.scss" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="..assets/stylesheets/css/stylish-portfolio.scss" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="..assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <aside class="callout3">
      <div class="text-vertical-center">
          <h1>¿Cómo funciona?</h1>
      </div>
  </aside>

    <!-- Registrarse -->
    <section id="registrarse" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Inscribirse a Presta Tu Techo</h2>
                    <p class="lead">Inscribirse a Presta Tu Techo. Simplemente sigue este <a href="/sign_up">link</a> si no eres miembro de nuestra plataforma, sigue los simples pasos a seguir y ya estarás dentro. Si ya eres parte, sólo <a href="/sign_in">inicia sesión</a> </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Buscar -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="buscar" class="services bg-primary">
      <div class="container">
          <div class="row text-center">
              <div class="col-lg-10 col-lg-offset-1">
                  <h2>Busca proyectos de tu interés</h2>
                  <hr class="small">
                  <div class="row">
                    <div>
                      <div style="width:1000px;float:left;display:inline-block;">
                          <h2>Una vez dentro de nuestra plataforma podrás explorar sobre posibles oportunidades para invertir en proyectos solares en todo Chile o comenzar uno propio. No importa dónde vivas, tendrás acceso a una amplia variedad de oportunidades para invertir en conjunto con otras personas.</h2>
                          </div>
                    </div>

                  </div><!-- /.row (nested) -->
              </div>
            <!-- /.row -->
          </div>
        <!-- /.container -->
    </section>

    <!-- Presta -->
    <section id="presta" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Presta tu techo o sé inversionista</h2>
                    <p class="lead">Puedes invertir con otras personas en un proyecto ya existente o comenzar uno propio. De cualquier forma, acabas de dar un gran paso hacia la autogeneración. Nosotros nos encargamos desde este punto, coordinando al grupo para realizar la instalación, las mantenciones de los equipos y por su puesto, repartir los beneficios.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Recibe -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="recibe" class="services bg-primary">
      <div class="container">
          <div class="row text-center">
              <div class="col-lg-10 col-lg-offset-1">
                  <h2>Recibe los beneficios de la energía solar</h2>
                  <hr class="small">
                  <div class="row">
                    <div>
                      <div style="width:1000px;float:left;display:inline-block;">
                          <h2>Los paneles que reciben la radiación solar estarán durante todo el día produciendo energía. Esta será consumida por el hogar donde los paneles hayan sido instalados y nosotros le venderemos a ese integrante del grupo la energía más barata que el proveedor. Luego esa cuenta será repartida proporcionalmente entre el resto de los integrantes del grupo. Además, los excedentes que hayan sido inyectados a la red serán traducidos en dinero acorde a la <a target="_blank" href="http://www.sec.cl/portal/page?_pageid=33,5819695&_dad=portal&_schema=PORTAL">ley de generación distribuida</a>.</h2>
                          </div>
                    </div>

                  </div><!-- /.row (nested) -->
              </div>
            <!-- /.row -->
          </div>
        <!-- /.container -->
    </section>



    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Presta Tu Techo</strong>
                    </h4>
                    <p>Santiago de Chile</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">prestatutecho@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; PrestaTuTecho 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="../assets/javascripts/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/javascripts/js/bootstrap.min.js"></script>



</body>

</html>
